body {
    text-align: center;
}

#content-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-holder {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    min-width: 95px;
}

.button-div {
    margin: 0 0 10px 0;
}

input {
    max-width: 80px;
    text-align: center;
}

#list {
    min-width: 150px;
    min-height: 30px;
    outline-style: solid;
    outline-width: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 2px;
}

.success-text {
    color: green;
}

.error-text {
    color: red;
}

.place-holder-text {
    color: white;
}